$ cat .gitignore

# Can ignore specific files
.settings.xml

.idea
.vscode

# Use wildcards as well
*~
#*.swp

node_modules
node_modules/**/*

package-lock.json

*.tingo
*.rdb
.nyc_output
coverage
npm-debug.log
jasmine/benchmark/users.csv
jasmine/benchmark/playbacklist-vehicles.csv
jasmine/benchmark/vehicle-created-events.csv
vehicle-created-events.csv
